
h1 {
    color: seagreen;
    font-weight: bold;
    font-size: 7em;
}
h2 {
    color: seagreen;
    font-weight: bold;
    font-size: 5em
}
h3 {
    color: seagreen;
    font-size: 3em;
}
body {
    background-color: lightcoral;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#kangaroo {
    width: 400px;
    height: 300px;
    border-style: solid;
    border-color: gray
    float: right;
    position: absolute;
    bottom: 20px;
    left: 10px;


}
