
h1 {
    color: rgb(62, 190, 199);
    font-weight: bold;
    font-size: 6em;
}
h2 {
    color: darkcyan;
    font-size: 4em;
}
h3 {
    color: darkcyan;
    font-size: 2em;
}
h4 {
    color: darkcyan;
    font-size: 20px;
}
p {
    color: darkcyan;
    font-size: 14px;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    background-image: align-self;
    background-position: center;
    background-attachment: fixed;


.container-fluid {
    width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



